.adobe
.aptitude
.bash_history
.bash_logout
.bashrc
.cache
.compiz
.config
davmail.log
.davmail.properties
.dbus
Desktop
.dmenu_cache
.dmrc
Documents
Downloads
.eclim
eclipse
.elinks
.esd_auth
.evolution
.fontconfig
.gconf
.gconfd
.gem
.git
.gitconfig
.gitignore.swp
.gksu.lock
.gnome2
.gnome2_private
.gstreamer-0.10
.gtk-bookmarks
.gvfs
.htoprc
.i3
.ICEauthority
.icons
.IdeaIC10
.lesshst
.m2
.macromedia
.mission-control
.mozilla
Music
.nautilus
.nbprofiler
.NERDTreeBookmarks
.netbeans
.openoffice.org
Personal-Configs
Pictures
.pki
.profile_bkup
.psi
Public
.pulse
.pulse-cookie
.purple
.sdirs
.selected_editor
.slocdata
.ssh
.subversion
.subversion_IDEA
.sudo_as_admin_successful
Templates
.themes
.thumbnails
.thunderbird
Ubuntu One
Videos
.viminfo
.vimrc.bkup
.VirtualBox
.visualvm
.w3m
workspace
.Xauthority
.xinput.d
.xsession-errors
.xsession-errors.old
yankring_history_v2.txt
.zcompdump
.zhistory
.zsh
.zsh_history
.zshrc_backup
.zshrc.bkup.vim
.zshrc_default

.
..
.xmonad/avendael_xmonad.hs
.xmonad/default_xmonad.hs
.xmonad/goerzen_xmonad.hs
.xmonad/start_xmonad.sh
.xmonad/xmonad.errors
.xmonad/xmonad.hi
.xmonad/xmonad.o
.xmonad/xmonad-x86_64-linux
