.CFUserTextEncoding
.DS_Store
.MacOSX
.Trash
.Xmodmap
.bash_history
.cabal
.cups
.fontconfig
.gem
.gitconfig
.i3
.lesshst
.pythonhist
.sdirs
.serverauth.343
.ssh
.terminfo
.viminfo
.zcompdump
.zhistory
Desktop
Documents
Downloads
Library
Movies
Music
Pictures
Public
chembalance.py
fonts.dir
test
yankring_history_v2.txt
.Xauthority
